[Desktop Entry]
Name=Focus Mode
Comment=Start de Focus omgeving
Exec=pkexec /usr/bin/start-focus
Icon=focus-mode
Terminal=false
Type=Application
Categories=System;Education;Utility;